[Unit]
Description=McQueen service
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
ExecStart=/home/mcqueen/mcqueen/mcqueen-service.sh
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target